body
{
    font-family: sans-serif;
    margin: 0;
    padding: 0;

    #pause
    {
        position: absolute;
        top: 20px;
        left: 20px;
        z-index: 10;
    }

    #slider
    {
        position: absolute;
        top: 40px;
        left: 20px;
        z-index: 10;
    }
}